.new-tweet {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: #F3F3F3;
  margin-left: 40px;
  margin-right: 40px;
}

.counter {
  float: right;
  top: 5px;
  margin-right: 15px;
}

.textbox {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.textbox.line {
  margin-top: 0px;
  margin-bottom: 10px;
}

.textbox.input {
  width: 348px;
}

.textbox.header {
  margin-bottom: 0;
}

.tweetButton {
  margin-left: 10px;
  margin-bottom: 10px;
}

.error {
    color: #D8000C;
    background-color: #FFD2D2;
    border-radius: .5em;
    border: 1px solid;
    box-shadow:1px 1px 3px #888;
    position: relative;
    margin-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    display: none;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

